@import '../../../scss/variables';

:host {

  .form-group-repeater {
    width: 100%;
    // margin-left: 50px;
    // border-left: 1px solid $color-alto;

    .button-wrapper {
      text-align: right;
    }
  }

  .repeater-sub-group {
    margin-bottom: 20px;
    border: 1px solid $color-alto;
    background-color: rgba(0,0,0,0.050);
    // border: 1px solid $color-alto;
    // border-right: 0;

    // &:last-child {
    //   margin-bottom:  0;
    // }
  }

  .field-wrapper {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    label {
      font-weight: 800;
      user-select: none;
    }

    &.checkbox {
      display: flex;
      
      cms-field {
        margin-left: 10px;
      }
    }
  }
}