<ng-template #Fields
             let-field="field"
             let-inputs="inputs"
             let-oIndex="oIndex"
             let-labelName="">
  <ng-container *ngIf="!field.hidden">
    <div class="field-wrapper"
        [ngClass]="field.type"
        [hidden]="field.type === 'hidden' || hiddenFields.includes(fieldsIndex + '-' + field.name + '-' + inputs?.field_name + '-' + oIndex)">
      <div *ngIf="field.label"
          class="label-wrapper">
        <cms-field-label [field]="field"
                         [id]="fieldsIndex + '-' + field.name + '-' + inputs?.field_name + '-' + oIndex"></cms-field-label>
      </div>
      <cms-field *ngIf="field.type !== 'field-groups' &&
                        field.type !== 'form_group' &&
                        field.type !== 'form_group'"
                [field]="field"
                [inputs]="inputs"
                (output)="onFieldChange($event)"
                (action)="onFieldAction(fields[oIndex], $event)">
      </cms-field>
      <ng-container *ngIf="field.type === 'field-groups'">
        <cms-field-groups [field]="field"
                          [fields]="fields"
                          (output)="onFieldChange($event)">
        </cms-field-groups>
      </ng-container>
      <!-- REPEATER -->
      <div *ngIf="field.type === 'form_group'"
           class="form-group-repeater">
        <div *ngFor="let repeaterFields of field.fields; let repeaterIndex = index"
             class="repeater-sub-group">
          <cms-acf-toolbar (action)="onToolbarAction(
                                      $event,
                                      field,
                                      field.name + '_' + oIndex + repeaterIndex,
                                      repeaterIndex)"
                           [hiddenFields]="hiddenFields"
                           [acf]="field.fields?.length"
                           [index]="repeaterIndex"
                           [title]="repeaterFields[0].value"
                           [fieldId]="field.name + '_' + oIndex + repeaterIndex"
                           type="acf"
                           *ngIf="field?.toolbar?.enabled !== false">
          </cms-acf-toolbar>
          <ng-container *ngIf="!hiddenFields.includes(field.name + '_' + oIndex + repeaterIndex)">
            <ng-container *ngFor="let repeaterField of repeaterFields"
                          [ngTemplateOutlet]="Fields"
                          [ngTemplateOutletContext]="{
                            field: repeaterField,
                            inputs: {
                              fieldsIndex: fieldsIndex,
                              field_name: fieldsIndex + '-' + repeaterIndex,
                              oIndex: oIndex,
                              routeState: inputs.routeState
                            },
                            index: repeaterIndex,
                            oIndex: oIndex
                          }">
            </ng-container>
          </ng-container>
        </div>
        <div class="button-wrapper"
             *ngIf="field.type === 'form_group' && field.repeater === true">
             <cms-button (click)="addRepeater(field)"
                         color="primary"
                         size="sm">Add</cms-button>
        </div>
      </div>
      <!-- /REPEATER -->
    </div>
  </ng-container>
</ng-template>

<ng-container *ngFor="let field of fields; let oIndex = index"
              [ngTemplateOutlet]="Fields"
              [ngTemplateOutletContext]="{
                field: field,
                inputs:{ fieldsIndex: fieldsIndex, oIndex: oIndex, routeState: inputs },
                oIndex: oIndex
              }">
</ng-container>
