@import '../../scss/variables';

:host {
  ::ng-deep {
    angular-editor {
      ::ng-deep {

        a {
          color: $color-matisse;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        img {
          cursor: pointer;
        }
      }
    }
  }
}