<div class="navbar-wrapper">
  <cms-navbar [user]="user"
              [config]="article"
              [type]="'article'"
              (userState)="updateUserState($event)">
    <div class="article-navbar" Article>
      <div class="helpers"
           *ngIf="article">
        <a *ngIf="article?.create_link"
           target="_blank"
           [routerLink]="article.create_link">
          <i class="fas fa-plus"></i> Create {{ article.type | string: 'category' | string: 'ucwords' }}
        </a>
        <ng-container *ngIf="canEdit">
          <a [href]="article?.edit_link"
            target="_blank"
            *ngIf="canEdit">
            <i class="fas fa-pen"></i> Manage Content
          </a>
          <a (click)="saveLayout()">
            <i class="fas fa-save"></i> Save
          </a>
          <a (click)="showPageBuilder = !showPageBuilder">
            <i class="fas fa-table"></i>
            {{ !showPageBuilder ? 'Show' : 'Hide' }} layouts
          </a>
        </ng-container>
      </div>
    </div>
  </cms-navbar>
</div>
<div class="article-page">
  <div class="page-builder-tools"
       *ngIf="user && acfTools.length && !modal.enabled && showPageBuilder">
    <cms-page-builder [components]="acfTools"
                      [title]="'Page Layouts'"
                      (onToolSelect)="onToolSelect($event)">
    </cms-page-builder>
  </div>
  <ng-container *ngIf="!latestArticles?.length">
    <div class="article-cover-wrapper">
      <div class="col-12 article-cover">
        <img [src]="article?.cover_image">
      </div>
    </div>
    <div class="container">
      <div class="row article-content-wrapper">
        <div class="col-lg-9 col-md-12 article-content"
             [class]="{
              'no-cover-image': !article?.cover_image,
              'col-lg-12': article?.type === 'pages'
             }">
          <div *ngIf="article">
            <section class="page-title">
              <h1>{{ article?.title }}</h1>
            </section>
            <ng-container *ngFor="let layout of article.layouts; let idx = index">
              <div [class.content-editable]="user">
                <cms-acf-toolbar (action)="onToolbarAction({ action: $event, layout: layout, index: idx })"
                                 [hiddenFields]="hiddenLayouts"
                                 [title]="layout.name"
                                 [index]="idx"
                                 [acf]="article.layouts.length"
                                 [id]="layout.name"
                                 [config]="{ edit: true }"
                                 *ngIf="user">
                </cms-acf-toolbar>
                <div *ngIf="!hiddenLayouts.includes(idx)">
                  <ng-container [ngSwitch]="layout.name">

                    <ng-container *ngSwitchCase="'author_and_date'">
                      <section class="author-section">
                        <cms-author *ngIf="article?.author"
                                    [author]="article?.author">
                        </cms-author>
                        <div class="date"
                            *ngIf="article?.date">
                          <cms-tooltip [tooltip]="article?.tooltips?.date?.content"
                          [config]="article?.tooltips?.date?.config"></cms-tooltip>
                        </div>
                      </section>
                    </ng-container>

                    <ng-container *ngSwitchCase="'author'">
                      <section class="author-section">
                        <cms-author *ngIf="article?.author && layout.name === 'author'"
                                    [author]="article?.author">
                        </cms-author>
                      </section>
                    </ng-container>

                    <ng-container *ngSwitchCase="layout.name.includes('date')">
                      <div class="date"
                           *ngIf="article?.date && layout.name.includes('date')">
                        <cms-tooltip [tooltip]="article?.tooltips?.date?.content"
                                     [config]="article?.tooltips?.date?.config">
                        </cms-tooltip>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      <section class="page-content {{layout.name}}"
                              [class.edit]="user">
                        <div [innerHTML]="layout.content | safe: 'html'"
                            cmsHrefInterceptor>
                        </div>
                        <div *ngIf="layout.type === 'image' && !layout.is_converted">
                          <a (click)="layoutToImg(layout)">Convert to image</a>
                        </div>
                        <div *ngIf="layout.type === 'image' && layout.is_converted">
                          <a (click)="imgToText(layout)">Convert to text</a>
                        </div>
                      </section>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            
          </div>
          <!-- MAIN ARTICLE CONTENT LOADER -->
          <ng-container *ngIf="!article"
                        [ngTemplateOutlet]="Loader"
                        [ngTemplateOutletContext]="{ type: 'article' }">
          </ng-container>
        </div>
        <div class="col-lg-3 col-md-12 sidebar"
             [class.no-cover-image]="!article?.cover_image"
             *ngIf="article?.type === 'posts'">
          <div class="search">
            <cms-fields [fields]="searchFields"
                        (output)="onSearch(searchFields)">
            </cms-fields>
            <cms-dropdown *ngIf="search.length && searchFields[0].value"
                          [options]="search"
                          (output)="onSelect($event)">
            </cms-dropdown>
          </div>
          <div class="related-articles">
            <!-- SIDEBAR RELATED ARTICLE CONTENT LOADER -->
            <ng-container *ngIf="article?.related_articles">
              <ng-container *ngIf="article?.related_articles.length">
                <h4>Related Articles</h4>
                <cms-article *ngFor="let related of article.related_articles"
                              [article]="related"
                              [author]="false"
                              [link]="related?.edit_layout_link">
                </cms-article>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!article?.related_articles"
                          [ngTemplateOutlet]="Loader"
                          [ngTemplateOutletContext]="{ type: 'article-related' }">
            </ng-container>
          </div>
          <div class="other-articles"
               *ngIf="article?.other_articles?.length">
            <h4>Other Articles</h4>
            <ng-container *ngIf="article?.other_articles?.length">
              <ng-container *ngFor="let otherArticle of article?.other_articles">
                <h5>{{ otherArticle?.category | string: 'ucwords' }}</h5>
                <cms-article [article]="otherArticle"></cms-article>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- If article is not found; show latest articles and 404 message -->
  <ng-container *ngIf="latestArticles?.length">
    <div class="container article-not-found">
      <div class="row">
        <div class="col-12 content">
          <div class="page-not-found">
            <cms-not-found [action]="false"
                           [message]="$404">
            </cms-not-found>
          </div>
        </div>
        <div class="col-12 latest-articles">
          <h1>See latest articles</h1>
          <div class="articles">
            <ng-container *ngFor="let article of latestArticles; let idx = index">
              <a [href]="article?.url">
                <cms-article [article]="article"
                             [class]="{
                              'article-top': article?.length > 5 && idx <= 5
                             }"></cms-article>
              </a>
            </ng-container>
          </div>
          <p style="margin-top: 30px;">
            or pick from
            <a style="text-decoration: underline;">
               Article Categories
            </a> below
          </p>
          <div class="categories">
            <h4>Categories</h4>
            <ul *ngIf="categories.length"
                class="article-categories">
              <li *ngFor="let category of categories">
                <span class="category"
                      (click)="articleCategories[category].hidden = !articleCategories[category].hidden">
                      {{ category | string: 'ucwords' }}
                </span>
                <ul *ngIf="!articleCategories[category].hidden">
                  <li *ngFor="let articleCategory of articleCategories[category]">
                    <a [routerLink]="'/'+articleCategory.url">
                      {{ articleCategory.title }}
                    </a> 
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="footer-wrapper">
  <cms-footer [footer]="siteOptions?.footer_config"></cms-footer>
</div>
<ng-template #Loader let-type="type">
  <cms-placeholder-loader [type]="type"></cms-placeholder-loader>
</ng-template>
<cms-alert *ngIf="alert"
           [alert]="alert"
           (close)="onAlertAction('close')">
</cms-alert>
<cms-modal *ngIf="modal.enabled"
           (action)="onModalAction($event)"
           (close)="onModalAction('close')">
  <cms-fields [fields]="modal.fields"
              (output)="onModalFieldOutput($event)">
  </cms-fields>
  <ng-container [ngSwitch]="modal.layout.type">
    <ng-container *ngSwitchCase="'image'">
      Image
    </ng-container>
  </ng-container>
</cms-modal>