@import '../../../scss/variables';

:host {
  
  .content-editable {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-builder-tools {
    position: fixed;
    border: 1px solid $color-alto;
    z-index: 9999;
    background: $color-white;
    width: 100%;
    bottom: 0;
    padding: 5px;
    max-height: 250px;
    overflow-y: scroll;

    @media (min-width: $screen-sm) {
      width: 300px;
      right: 0;
      top: 40px;
      max-height: unset;
      overflow-y: unset;
    }

    ::ng-deep {
      cms-page-builder {
        user-select: none;
        ul {
          list-style: none;
          padding: 0;
          margin-bottom: 0;
          

          li {
            cursor: pointer;
            padding: 5px 3px;
            border-bottom: 1px solid $color-alto;

            &:hover {
              background-color: $color-alto;
            }
          }
        }
      }
    }
  }

  .navbar-wrapper {
    position: fixed;
    top: 0;
    height: $navbar-height-sm;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    z-index: 100;

    @media (min-width: $screen-sm) {
      height: $navbar-height-md;
    }

    @media (min-width: $screen-md) {
      height: $navbar-height-lg;
    }

    .article-navbar {
      .helpers {

        a {
          margin-left: 0;
          cursor: pointer;
          width: 100%;
          border-top: 1px solid $color-alto;
          display: block;
          padding: 5px 15px;
          user-select: none;

          @media (min-width: $screen-sm) {
            width: unset;
            margin-left: 10px;
            padding: inherit;
            display: unset;
            border: 0;
          }

          &:first-child {
            margin: 0;
            border-top: 0;
          }

          &:hover {
            border-bottom: 1px solid $color-mine-shaft;
          }
        }
        // cursor: pointer;
      }
    }
  }

  .footer-wrapper {
    width: 100%;
    border-top: 1px solid $color-alto;
    background-color: $color-mine-shaft;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 30px;
    color: $color-white;
  }

  .article-cover-wrapper {
    width: 100%;
    height: auto;
    border: 1px solid $color-alto;
    margin: 80px auto;

    @media (min-width: $screen-md) {
      height: 350px;
    }

    @media (min-width: $screen-lg) {
      height: 410px;
    }

    .article-cover {
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .article-page {
    margin-top: 100px;

    .article-not-found {

      .content {
        height: 300px;

        @media (min-width: $screen-sm) {
          height: 200px;
        }

        ::ng-deep {
          cms-not-found {
            margin-bottom: 20px;

            .message {
              font-weight: normal;
              font-size: 2rem;
            }
          }
        }
      }

      ::ng-deep {
        cms-not-found {
          .align-x {
            position: absolute;
            top: 20%;
          }
        }
      }

      .latest-articles {
        text-align: center;

        .articles {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }

        .categories {
          text-align: left;

          ul.article-categories {
            span.category {
              cursor: pointer;
            }

            li {
              text-align: left;
              font-weight: bold;
              font-size: 16px;
  
              ul {
                li {
                  font-weight: normal;
                  a {
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .article-content-wrapper {
      margin-top: 120px;

      .article-content {
        margin-top: -150px;
        background-color: $color-white;
        padding: 20px;
        word-break: break-word;

        &.no-cover-image {
          // border: 1px solid $color-alto;
          // border-bottom: 0;
        }
        
        .author-section {
          display: flex;
          justify-content: space-between;
          margin: 25px 0;
          font-weight: bold;
          font-size: 18px;
          flex-direction: column;

          @media (min-width: $screen-sm) {
            flex-direction: row;
          }

          ::ng-deep {
            cms-author {
              .author {
                .author-info {
                  > div {
                    width: 100%;
                  }
                }
              }
            }

            cms-tooltip {
              .tooltiptext {
                width: 180px;
                text-align: left;
                margin-top: -8px;
              }
            }
          }
        }

        .page-content {
          // overflow: hidden;
          ::ng-deep {

            a {
              color: $color-matisse;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            img {
              // height: auto;
              // width: 100%;
            }
          }
        }
      }
    }
  }

  .sidebar {
    border: 0;
    border-top: 1px solid $color-alto;
    padding-top: 50px;

    &.no-cover-image {
      border-left: 0;
    }

    @media (min-width: $screen-md) {
      border-top: 0;
      border-left: 1px solid $color-alto;
      padding-top: 0;
    }

    > div {
      margin-bottom: 50px;
    }

    .related-articles,
    .other-articles {
      text-align: center;

      ::ng-deep {
        .article-wrapper {
          margin: 10px auto;

          .article-thumbnail {
            width: 150px;
            height: 140px;
            margin: 0 auto;
          }
        }
      }
    }

    .other-articles {

    }
  }
}