@import '../../scss/variables';

:host {

  .cards-container {
    padding: 5px;

    .card-content {
      padding: 5px;
      border: 1px solid $color-alto;
      border-radius: 4px;

      .card-label {
        display: block;
        height: 120px;
        font-size: 40px;
        font-weight: 800;
        padding-top: 20px;
      }

      .card-data {
        display: block;
        height: 120px;
        font-size: 40px;
        font-weight: 800;
        padding-top: 20px;
      }
    }
  }
}