<div class="cards-container">
  <div class="card-content">
    <div class="row">
      <div class="col-9">
        <span class="card-label">{{ card?.label }}</span>
      </div>
      <div class="col-3">
        <span class="card-data" [innerHTML]="card?.data | safe: 'html'"></span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="cards-container">
  <div class="card-content">
    <ng-container *ngIf="card.value; else initCardConfig">
      <div class="row">
        <div class="col-9">
          <span class="card-label">{{ card.label }}</span>
        </div>
        <div class="col-3">
          <span class="card-data" [innerHTML]="getCardData(card) | safe: 'html'"></span>
        </div>
      </div>
    </ng-container>
    <ng-template #initCardConfig>
      <label for="">Select category</label>
      <cms-dropdown [inputs]="inputs('card')"
                    (emitField)="cardConfig(card, $event)"></cms-dropdown>
    </ng-template>
  </div>
</div> -->