<ng-container *ngFor="let option of field.options">
  <div class="radio-group">
    <label [for]="inputs.field_name + option.value">{{option.label}}</label>
    <cms-input-radio [option]="option"
                     [field]="field"
                     [inputs]="inputs"
                     (output)="emit($event)"></cms-input-radio>
  </div>
</ng-container>