<div class="acf-toolbar"
     *ngIf="type === 'field-groups'">
  <div class="remove"
       *ngIf="config?.remove !== false">
    <i class="fas fa-minus"
       (click)="onAction('remove')"></i>
  </div>
</div>

<div *ngIf="type === 'acf'"
     class="toolbar-wrapper">
  <span class="title">
    <strong>{{ title }}</strong>
  </span>
  <div class="toolbars"
        [class.toolbars-middle]="index !== 0 || index !== (acf - 1)">
    <i class="fas fa-pencil"
        (click)="onAction('edit')"
        *ngIf="config.edit">
    </i>
    <i class="fas fa-caret-down"
        (click)="onAction('down')"
        *ngIf="index !== (acf - 1)">
    </i>
    <i class="fas fa-caret-up"
        (click)="onAction('up')"
        *ngIf="index !== 0">
    </i>
    <i class="fas fa-minus"
        (click)="onAction('minimize')"
        *ngIf="!hiddenFields.includes(index)">
    </i>
    <i class="fas fa-window-maximize"
        (click)="onAction('restore')"
        *ngIf="hiddenFields.includes(index)">
    </i>
    <i class="fas fa-times"
      (click)="onAction('remove')"
      *ngIf="acf > 1">
    </i>
  </div>
</div>
