@import '../../../scss/variables';

:host {
  .acf-toolbar {
    // display: flex;
    // justify-content: space-between;

    i {
      cursor: pointer;
    }
  }

  .toolbar-wrapper {
    height: 35px;
    border-bottom: 1px solid $color-alto;
    background-color: $color-alto;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .toolbars {
      // display: flex;
      // width: 120px;
      text-align: right;
      padding-top: 2px;

      i {
        // width: 30px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}