:host {

  label {
    font-size: 15px;
  }

  .is-inline {
    display: inline;
    margin-left: 15px;
  }
  
  .radio-group {
    display: inline;
    margin-right: 15px;
    user-select: none;

    &:last-child {
      margin-right: 0;
    }
  }
}