<div [class.is-inline]="isInline(field)">
  <ng-container *ngFor="let option of field?.options">
    <div class="radio-group">
      <label [for]="createId(field, option)">{{ option?.label }}</label>
      <input type="radio"
             [(ngModel)]="field.value"
             [ngClass]="inputs?.classes"
             [name]="inputs?.name"
             [disabled]="field?.disabled"
             [required]="field?.required"
             [value]="option?.value"
             (ngModelChange)="onFieldChange(field, $event)"
             [attr.id]="createId(field, option)">
    </div>
  </ng-container>
</div>