<div class="container">
  <div class="row footer">
    <div class="col-lg-4 col-md-6 col-sm-12 order-1 order-sm-0 about">
      <h4>About</h4>
      <p>{{ footer?.about }} </p>
      <ul class="about-list">
        <li>
          <i class="fas fa-envelope"></i> {{ footer?.email || 'Email' }}
        </li>
        <li>
          <i class="fas fa-phone"></i> {{ footer?.contact || 'Contact' }}
        </li>
        <li>
          <i class="fas fa-map-marker-alt"></i> {{ footer?.address || 'Address' }}
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 order-2 order-sm-1 sitemap">
      <h4>Sitemap</h4>
      <ul>
        <li *ngFor="let site of footer?.sitemap">
          <a [routerLink]="'/'+site.value">{{ site.label }}</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-12 order-0 order-sm-2 subscribe">
      <h4>Subscribe</h4>
      <div class="form">
        <cms-fields [fields]="subscribe"></cms-fields>
        <!-- <cms-form-field [formField]="subscribe"
                        (outputs)="onFieldChange($event)"></cms-form-field> -->
        <div class="button-wrapper">
          <button class="btn btn-success btn-sm">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-12">
      &copy; Copyright 2021
    </div>
    <div class="col-12">
      All rights reserved. Powered by `ngcc-cms`
    </div>
  </div>
</div>
