@import '../../scss/variables';

:host {
 .footer {
   text-align: center;
   padding: 20px 0;

   > div {
    margin-bottom: 15px;   

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
   }
   
   .about {
     ul.about-list {
       li {
         line-height: 2;
         text-align: center;

         @media (min-width: $screen-md) {
          text-align: justify;
         }
       }
     }
   }

  .subscribe {
    margin-top: 20px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

   .form {
    position: relative;

     ::ng-deep {
       cms-form-field {
         input {
           margin-top: -18px;
           padding-right: 85px;
            height: 40px;
         }
       }
     }

     .button-wrapper {
       position: absolute;
       top: 0;
       right: 0;

       button {
        height: 38px;
       }
     }
   }

   ul {
     list-style: none;
     margin: 0;
     padding: 0;

     a {
       cursor: pointer;

       &:hover {
         border-bottom: 1px solid $color-white;
       }
     }
   }
 }

 .copyright {
   font-size: 12px;
   text-align: center;
 }
}