<div class="dashboard-wrapper">
  <div class="tools">
    <div class="row">
      <div class="col-12 mb-2">
        <button class="btn btn-info btn-sm"
                (click)="toggleModal()">Create</button>
      </div>
      <div class="col-12">
        <div class="row">
          <ng-container *ngFor="let card of cards">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <cms-card [card]="card"></cms-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <cms-modal *ngIf="modal.open"
           [data]="modal.data"
           (dataEmitter)="modalData($event)"
           (close)="toggleModal()"
           [config]="modal.config"></cms-modal> -->