<div class="navbar-container">
  <div class="navbar-content">
    <div class="custom-content"
         [style.display]="(!customContent && isMobile) ? 'none': 'block'"
         #NavbarCustomContent>
      <ng-content select="[Article]"></ng-content>
    </div>
    <div class="hidden-content">
      <i class="fas fa-bars"
         *ngIf="customContentEl?.nativeElement.childNodes.length"
         (click)="customContent = !customContent"></i>
    </div>
    <div class="user-content">
      <div class="user-section">
        <ng-container *ngIf="user; else loginTemplate">
          <span (click)="menuStatus()" class="user-span">Hello, {{ user?.first_name || user?.username || '${user}' }}</span>
          <div class="user-menu"
              *ngIf="showUserMenu">
            <ul class="list-unstyled"
                id="user-menu">
                <ng-container *ngFor="let userMenu of navbar?.user?.menu">
                  <a [routerLink]="userMenu?.url">
                    <li>
                      {{ userMenu?.label }}
                    </li>
                  </a>
                </ng-container>
            </ul>
          </div>
        </ng-container>
        <ng-template #loginTemplate>
          <div class="login-template">
            <span (click)="openModal = true">Login</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<cms-modal *ngIf="openModal && !user"
           [config]="{
              footer: 'disabled',
              title: 'Login'
           }"
           (close)="openModal = false">
  <cms-login [redirect]="false"></cms-login>
</cms-modal>