@import '../../scss/variables';

:host {

  .navbar-container {
    height: 100%;
    width: 100%;

    .navbar-content {
      display: flex;
      height: 100%;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;

      @media (min-width: $screen-sm) {
        padding: 0 30px;
      }

      .custom-content {
        display: none;
        position: fixed;
        top: 50px;
        left: 10px;
        // width: 100px;
        // max-width: 300px;
        border: 1px solid $color-alto;
        background-color: $color-white;
        z-index: 99;

        @media (min-width: $screen-sm) {
          position: unset;
          display: block;
          border: 0;
        }
      }
    }

    .hidden-content {
      margin-left: 10px;
      font-size: 24px;
      display: block;

      @media (min-width: $screen-sm) {
        display: none;
      }
    }

    .user-section {
      position: relative;
      user-select: none;

      .user-span:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .user-menu {
        position: absolute;
        right: 10px;
        min-width: 150px;
        background-color: $color-white;
        border: 1px solid $color-alto;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .user-menu {
    ul {
      margin-bottom: 0;
      text-align: left;

      a {
        &:first-child {
          li {
            border-top: none;
          }
        }
      }

      li {
        padding: 5px;
        border-top: 1px solid $color-alto;

        &:hover {
          background-color: $color-wild-sand;
        }
      }
    }
  }

  ::ng-deep {
    cms-modal {
      .modal-dialog {
        top: 100px;
        max-width: 450px;
      }
    }
  }

  .login-template {
    span {
      cursor: pointer;
    }
  }
}