<ng-container *ngIf="(user?.is_logged_in && !loginPage && routeState$ | async) as routeState">
  <div class="navbar-wrapper">
    <cms-navbar [user]="user"></cms-navbar>
  </div>
  <div class="body-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="sidebar-wrapper col-lg col-md col-3 col-sm-12"
             *ngIf="sidebarConfig?.show && (navCollections$ | async) as navCollections"
             [ngClass]="sidebarConfig?.classes">
          <div class="sidebar-container"
               [ngClass]="sidebarConfig?.classes">
            <cms-side-navbar (minimize)="isMinimize($event)"
                             [isMobile]="isMobile"
                             [category]="routeState.category"
                             [navCollections]="navCollections"
                             (linkClicked)="routeChanged($event)">
            </cms-side-navbar>
          </div>
        </div>
        <div class="content-wrapper col-lg col-md col-sm-12">
          <router-outlet></router-outlet>
          <ng-container *ngIf="is404">
            <cms-not-found></cms-not-found>
          </ng-container>
        </div>
      </div>
    </div>
  
    <div class="bars-mobile-wrapper"
         *ngIf="isMobile">
      <div class="bar"
            *ngFor="let bar of mobileBars">
        <div (click)="eventHelper(bar)">
            <span [innerHTML]="bar?.icon"
                  class="mr-2">
            </span>
            <span>{{ bar?.label }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!user?.is_logged_in && loginPage">
  <cms-login></cms-login>
</ng-container>