@import '../../../scss/variables';
@import '../../../scss/helpers';

:host {

  .navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height-sm;
    background-color: $color-white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    z-index: 100;

    @media (min-width: $screen-sm) {
      height: $navbar-height-md;
    }

    @media (min-width: $screen-md) {
      height: $navbar-height-lg;
    }
  }

  .body-wrapper {
    position: relative;
    margin-top: $navbar-height-sm;

    @media (min-width: $screen-sm) {
      margin-top: $navbar-height-md;
    }

    @media (min-width: $screen-md) {
      margin-top: $navbar-height-lg;
    }
  
    .container-fluid {
      padding-left: 0;
    }

    .sidebar-wrapper {
      position: relative;
      max-width: 200px;
      z-index: 99;

      .sidebar-container {
        position: fixed;
        height: calc(100vh - #{$navbar-height-sm});
        width: 100%;
        padding-right: 0;

        @media (min-width: $screen-sm) {
          width: 200px;
        } 

        @media (min-width: $screen-sm) {
          height: calc(100vh - #{$navbar-height-md});
        }

        @media (min-width: $screen-md) {
          height: calc(100vh - #{$navbar-height-lg});
        }
      }
    }

    .sidebar-minimized {
      max-width: 50px;
      width: 50px !important;

      &:host::ng-deep {
        .nav-label {
          display: none;
        }
      }
    }

    .content-wrapper {
      padding-left: 20px;
      margin: 10px auto;
    }
  }

  .sidebar-mobile-floating {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    padding-left: 6px;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 50%;
    font-size: 18px;
  }

  .bars-mobile-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 60px;
    font-size: 24px;
    padding: 10px;
    border-top: 1px solid $color-alto;
    background: $color-white;
    z-index: 4;
  }
}

:host::ng-deep {
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}