<ng-container *ngIf="routeState && !loader.loading"
              [ngSwitch]="routeState.type">
  <ng-container *ngSwitchCase="'all'">
    <cms-table *ngIf="tableData != null"
               [tableData]="tableData"
               [tableConfig]="tableConfig"
               [sort]="activeSort"
               (action)="onTableAction($event)">
      <ng-container dataActions>
        <button class="btn btn-primary btn-sm"
                (click)="onTableAction({action: 'import'})">
          Import
        </button>
        <button class="btn btn-primary btn-sm"
                [class.disabled]="!tableSelected.length"
                (click)="onTableAction({record: tableSelected, action:'export'})">
          Export Selected ({{tableSelected.length}})
        </button>
        <button class="btn btn-danger btn-sm"
                [class.disabled]="!tableSelected.length"
                (click)="onTableAction({record: tableSelected, action:'delete'})">
          Delete Selected ({{tableSelected.length}})
        </button>
      </ng-container>
    </cms-table>
  </ng-container>
  
  <!-- ACF -->
  <ng-container *ngSwitchDefault>
    <div class="acf-wrapper"
         [class]="routeState.type"
         *ngIf="acfs?.length">
      <form (submit)="onSubmit($event)">
        <div class="back-button-wrapper"
             *ngIf="routeState?.type === 'edit'">
          <cms-back></cms-back>
        </div>
        <ng-container *ngFor="let form of acfs">
          <cms-acf [id]="form.config.form_name"
                   [class.active]="activeACF === form.config.form_name"
                   (click)="activeACF = form.config.form_name"
                   [acf]="form.fields"
                   [toolbar]="false"
                   [inputs]="inputs"
                   (action)="onFieldAction($event)">
          </cms-acf>
        </ng-container>
        <div class="button-wrapper">
          <cms-button type="submit"
                      color="success">
            {{ action }}
          </cms-button>
          <cms-button type="button"
                      color="info"
                      (click)="onTableAction({action: 'import'})"
                      *ngIf="routeState.type !== 'edit'">
            Import
          </cms-button>
        </div>
      </form>
    </div>
  </ng-container>
  <div class="no-results"
       *ngIf="!acfs?.length && routeState.type !== 'all'">
    No ACF found for "{{ routeState?.category | uppercase }}"
  </div>
</ng-container>
<cms-placeholder-loader *ngIf="loader.loading"
                        [type]="routeState.type === 'all' ? 'table' : null">
</cms-placeholder-loader>
<!-- ALERT -->
<div class="message-wrapper"
     *ngIf="alert">
  <cms-alert [alert]="alert"
             (close)="onAlertClose($event)"></cms-alert>
</div>

<!-- MODAL -->
<cms-modal *ngIf="isModal"
           [title]="modal.title"
           [config]="modal"
           (close)="toggleModal($event)"
           (action)="onModalAction($event)">
  <div class="exports"
       *ngIf="modal.content_type === 'export'">
    <div class="message">
      The following record{{ exports.length > 1 ? 's' : ''}} will be exported:
    </div>
    <cms-acf [acf]="exportACF"
             [toolbar]="false">
    </cms-acf>
    <ngx-json-viewer [json]="exports"
                     [expanded]="false">
    </ngx-json-viewer>
  </div>
  <div class="imports"
       *ngIf="modal.content_type === 'import'">
    <div class="message">
      Select file to be upload (must be in json format)
    </div>
    <input type="file" (change)="onFileSelect($event.target.files)">
    <div *ngIf="imports?.length">
      Records to import
    </div>
    <ngx-json-viewer [json]="imports"
                     [expanded]="false">
    </ngx-json-viewer>
  </div>
  <div class="view-details"
       *ngIf="modal.content_type === 'view'">
    <cms-acf [acf]="acf"
             [toolbar]="false"
             [inputs]="inputs">
    </cms-acf>
  </div>
</cms-modal>