@import '../../scss/variables';

:host {
  .back-button-wrapper {
    height: 50px;
  }

  ::ng-deep {
    cms-modal {
      ngx-json-viewer {
        font-size: 12px;

        .ngx-json-viewer {

          .segment {
            padding: 0;
            padding-left: 2px;
          }
        }
      }
    }
  }

  cms-table {
    ::ng-deep {
      .table {
        thead {
          tr {
            th {
              &.profile_image {
                max-width: 150px;
              }
            }
          }
        }
      }
      .profile_image {
        width: 200px;
        .safe-html {
          ::ng-deep {
            img {
              height: 47px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .acf-wrapper {
    &.new {

      ::ng-deep {
        cms-acf {

          .acf-wrapper {
            padding: 0 !important;
            // margin: 0;
            // border-bottom: 0;
    
            // &:last-child {
            //   border-bottom: 1px solid $color-alto;
            // }
          }
        }
      }

    }

    label {
      user-select: none;
      font-weight: bold;
    }
  }

  ::ng-deep {
    cms-acf {

      &.active {
        .acf-wrapper {
          // box-shadow: 0 0 0 3px rgba(17, 107, 150, 25%)
        }
      }

      .acf-wrapper {
        padding: 0 !important;
      }

      cms-fields {
        .field-wrapper {
          display: flex;
          align-items: center;
          border-top: 1px solid $color-alto;
          margin-top: 0 !important;
          padding: 10px;

          &.dynamic_content,
          &.textarea,
          &.form_group {
            align-items: flex-start;

            .label-wrapper {
              border-right: 0;
            }
          }

          &.dynamic_content {
            display: block;
            width: 100%;

            .label-wrapper {
              border-bottom: 1px solid $color-alto;
              padding-bottom: 5px;
              margin-bottom: 5px;
            }
            // overflow-y: scroll;
          }

          &:first-child {
            border-top: 0;
          }

          .label-wrapper {
            height: 100%;
            border-right: 1px solid $color-alto;
            margin-right: 10px;
          }
          
          label {
            width: 150px;
            padding: 0 5px;
          }

          cms-field {
            width: 100%;

            input,
            select {

              &:not(.is-invalid) {
                border: 1px solid $color-mine-shaft;
              }
            }
          }
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
    // cms-button {
    //   margin-right: 10px;
    // }
  }
}