<label [for]="id">
  {{ field.label }}
  <span class="count"
        *ngIf="field.type === 'field-groups'">
        ({{field.field_groups?.length}})
  </span>
  <span class="count"
        *ngIf="field.type === 'form_group' && field?.fields?.length > 1">
        ({{field.fields?.length}})
  </span>
  <cms-tooltip *ngIf="field?.enable_tooltip && field?.tooltip"
                [tooltip]="{
                  text: field.tooltip
                }">
  </cms-tooltip>
  <!-- is required? {{ field.required }} -->
  <ng-container *ngIf="field.required && field.default_value !== 'auto'">*</ng-container>
</label>