<div class="not-found">
  <strong class="text-center align-x">
    <h1 *ngIf="!message">404 &#8212; Sorry the page you're looking for is not available</h1>
    <span *ngIf="message"
          [innerHTML]="message | safe: 'html'"></span>
    <button *ngIf="action"
            class="btn btn-info"
            (click)="back()">
      Go back
    </button>
  </strong>
</div>