<div class="article-wrapper">
  <a [routerLink]="'/'+article?.url">
    <div class="article-thumbnail"
        [class.no-preview]="!article.thumbnail">
        <img *ngIf="article.thumbnail"
            [src]="article.thumbnail"
            [height]="article?.size?.height"
            [width]="article?.size?.width">
        <span *ngIf="!article.thumbnail">
          No Preview
        </span>
    </div>
  </a>
  <div class="article-details">
    <div class="article-title">
      <a [routerLink]="'/'+article?.url">
        {{ article?.title }}
      </a>
    </div>
    <div class="article-author"
         *ngIf="author">
      {{ article?.author?.name }}
    </div>
  </div>
</div>