@import '../../../scss/variables';

:host {
  .article-wrapper {
    max-width: 200px;

    .article-thumbnail {
      height: 200px;
      width: 210px;
      border: 1px solid $color-alto;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
      }

      &.no-preview {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .article-details {
      // border: 1px solid $color-alto;
      // font-weight: bold;
    }
  }
}