<ng-container *ngIf="config?.version === 1">
  <span class="tooltip-container"
        (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false">
    <i class="fas fa-question-circle ml-1"
      [attr.id]="id"
      (click)="toggleTooltip($event)"
      *ngIf="!tooltip?.title"></i>
    <span *ngIf="tooltip?.title" [innerHTML]="tooltip?.title"></span>
    <div *ngIf="showTooltip"
        class="tooltip-wrapper"
        [ngStyle]="config?.style"
        [class.has-title]="tooltip?.title"
        [style]="tooltipPositions"
        [attr.id]="textId">
        <span [innerHTML]="tooltip?.text || tooltip"></span>
    </div>
  </span>
</ng-container>

<!-- version 2 -->
<ng-container  *ngIf="config?.version === 2">
  <div class="popover-container popover-tooltip">
    <span *ngIf="tooltip?.title; else defaultTitle" [innerHTML]="tooltip?.title | safe: 'html'"></span>
    <ng-template #defaultTitle> <i class="fas fa-question-circle" [attr.id]="id"></i> </ng-template>
    <span class="tooltiptext"
          [ngClass]="getPositionClass()"
          [ngStyle]="config?.style"
          [innerHTML]="tooltip?.text"></span>
  </div>
</ng-container>