@import '../../scss/variables';

:host {
  i {
    cursor: pointer;
  }

  ::ng-deep {
    a {
      cursor: pointer;
      color: $color-blue-chill;
      text-decoration: underline;
    }
  }

  .tooltip-container {
    position: relative;
  }

  .tooltip-wrapper {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 200px;
    padding: 5px;
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    font-size: 14px;
    z-index: 9999;
    line-height: 1.1;

    .has-title {
      top: 8px;
      left: 5px;
    }
  }

  .popover-container {
    /* Tooltip container */
    &.popover-tooltip {
      position: relative;
      display: inline-block;

      &:hover {
        .tooltiptext {
          visibility: visible;
        }
      }

      /* Tooltip text */
      .tooltiptext {
        visibility: hidden;
        // max-width: 120px;
        background-color: $color-white;
        color: $color-black;
        text-align: center;
        padding: 2px 5px;
        border-radius: 6px;
        border: 1px solid $color-alto;
        font-size: 12px;
        z-index: 9999;
      
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;

        &.top-arrow::after {
          content: " ";
          position: absolute;
          bottom: 100%;  /* At the top of the tooltip */
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent $color-alto transparent;
        }

        &.right-arrow:after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 100%; /* To the right of the tooltip */
          margin-top: -8px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent transparent $color-alto;
        }

        &.bottom-arrow::after {
          content: " ";
          position: absolute;
          top: 100%; /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: $color-alto transparent transparent transparent;
        }

        &.left-arrow::after {
          content: " ";
          position: absolute;
          top: 50%;
          right: 100%; /* To the left of the tooltip */
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent $color-alto transparent transparent;
        }

        &.right {
          top: 0;
          left: 110%;
        }

        &.left {
          top: 0;
          right: 110%;
        }

        &.top {
          width: 120px;
          bottom: 100%;
          left: 50%;
          margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
        }

        &.bottom {
          width: 120px;
          top: 100%;
          left: 50%;
          margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
        }
      }
    }
  }
}