<div class="author">
  <div class="author-details">
    <div class="author-profile">
      <div class="image-wrapper"
           [class.no-border]="author?.profile_image">
        <img [src]="author?.profile_image"
             [alt]="author?.name ">
      </div>
    </div>
    <div class="author-info">
      <div class="author-name">
        <a [href]="author?.link" target="_blank">{{ author?.name }}</a>
      </div>
      <div class="author-title">
        {{ author?.title }}
      </div>
    </div>
  </div>
</div>