<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <span class="close btn-close"
              (click)="closeModal()"></span>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer"
           *ngIf="config?.footer !== false">
        <button type="button"
                class="btn btn-primary btn-sm"
                *ngIf="config?.action !== false"
                (click)="modalAction(config?.action?.text.toLowerCase())">
          {{ config?.action?.text }}
        </button>
        <button type="button"
                class="btn btn-danger btn-sm"
                (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>