<div class="alert"
     [ngClass]="alertClass">
  <div class="content"
       [innerHTML]="alert?.text | safe: 'html'"></div>
  <span class="close"
        (click)="emitAction()"
        *ngIf="version === 'v2'">&times;</span>
</div>