@import '../../scss/variables';

:host {
  .alert {
    // padding: 10px;

    .close {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 10px;
    }
  }

  .v2 {
    position: fixed;
    z-index: 999999;

    &.top-right {
      top: 20px;
      right: 20px;
      animation: rightSlide 0.1s;
    }

    &.top-left {
      top: 20px;
      left: 20px;
      animation: leftSlide 0.1s;
    }

    &.bottom-right {
      bottom: 20px;
      right: 20px;
      animation: rightSlide 0.1s;
    }

    &.bottom-left {
      bottom: 20px;
      left: 20px;
      animation: leftSlide 0.1s;
    }
  }


  @keyframes leftSlide {
    from {
      left: -100px;
    } to {
      left: 20px;
    }
  }

  @keyframes rightSlide {
    from {
      right: -100px;
    } to {
      right: 20px;
    }
  }

  @keyframes leftSlideClose {
    to {
      left: -100px;
    }
  }

  @keyframes rightSlideClose {
    to {
      right: -100px;
    }
  }
}