@mixin author-layout {
  .author {
    display: flex;
    justify-content: space-between;

    .image-wrapper {
      height: $author-profile-height;
      width: $author-profile-width;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid $color-alto;

      &.no-border {
        border: 0;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    .author-details {
      display: flex;
    }

    .author-profile {
      height: $author-profile-height;
      width: $author-profile-width;
      border-radius: 50%;
    }

    .author-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70px;
      margin-left: 10px;
      

      .author-name,
      .author-title {
        width: 150px;
        margin-bottom: 5px;
        height: auto;
        line-height: 16px;

        @media (min-width: $screen-sm) {
          height: 20px;
          line-height: auto;
        }
      }

      .author-title {
        width: 100px;
      }
    }

    .date {
      height: 20px;
      width: 100px;
    }
  }
}