// Colors
$color-ibs-primary: #002A5C;
$color-semi-white: #f2f2f2;
$color-primary: #007a87;
$color-confetti: #ebe067;
$color-celery: #b0bc5c;
$color-celery-2: #b1be5a;
$color-alto: #d7d7d7;
$color-dove-grey: #727272;
$color-dark-dove-grey: #626262;
$color-dove-gray: #666666;
$color-mine-shaft: #212121;
$color-wild-sand: #f4f4f4;
$color-white: #ffffff;
$color-white-trans: rgba(255, 255, 255, .5);
$color-limeade: #62b206;
$color-limeade-2: #549905;
$color-cornflower-blue: #5f99ef;
$color-christi: #4bb61a;
$color-green-leaf: #417505;
$color-nobel: #b6b6b6;
$color-black: #000000;
$color-concrete: #f2f2f2;
$color-alabaster: #f8f8f8;
$color-alabaster-2: #f9f9f9;
$color-alabaster-3: #f7f7f7;
$color-monza: #d0021b;
$color-peachy: #d9534f;
$color-link-water: #D5EAF3;
$color-half-baked: #87c5cc;
$color-eastern-blue: #1998a6;
$color-dusty-gray: #979797;
$color-blue-chill: #0D6B9E;
$color-blue-stone: #01606a;
$color-blue-pastel: #e1f2fa;
$color-blue-chill: #0f75a6;
$color-blue-alpha: rgba(24, 153, 214, 0.6);
$color-royal-blue: #002366;
$color-overlay-dark-blue: rgba(1, 63, 93, 0.5);
$color-overlay-black: rgba(0, 0, 0, 0.6);
$color-overlay-black-2: rgba(0, 0, 0, .4);
$color-overlay-white: rgba(255, 255, 255, 0.5);
$color-java: #15b7c8;
$color-popover-icon: #5fc3e9;
$color-mexican-red: #ac2925;
$color-oyster-pink: #ecd0cf;
$color-silver: #c4c4c4;
$color-silver-2: #c9c9c9;
$color-silver-chalice: #a0a0a0;
$color-silver-sand: #bcc0c4;
$color-twilight-blue: #f9feff;
$color-old-lace: #fdf6e0;
$color-old-lace-2: #fdf5e6;
$color-hokey-pokey: #caa129;
$color-seashell: #f1f1f1;
$color-seagull: #86cbeb;
$color-seagull-dark: #76c1e5;
$color-saffron: #f2c233;
$color-curious-blue: #1899d6;
$color-curious-blue-1: #178FD0;
$color-curious-blue-2: #1998d6;
$color-matisse: #116b96;
$color-java-alternate: #25CCA8;
$color-faint-grey: #cccccc;
$color-faded-black: #333333;
$color-blue-shadow : $color-matisse;
$color-goblin: #448d5c;
$color-goblin-2: #458d5c;
$color-grey: #aaa;
$color-grey-light: #bebebe;
$color-mercury: #e5e5e5;
$color-blue-chill-2: #0f75a6;
$color-marzipan: #f9daa2;
$color-porsche: #ebbd64;
$color-fern: #6fbc72;
$color-mountain-meadow: #22ba99;
$color-light-green: #1ea689;
$color-mercury-lighter: #e2e2e2;
$color-bianca: #faf6eb;
$color-givry: #f7ecc8;
$color-shamrock: #2CCBA7;
$color-apache: #dbbd63;
$color-shark: #23282d;

$color-transparent: transparent;
$color-givry-transparent: rgba(125, 82, 0, .68);
$color-givry-transparent-2: rgba(125, 82, 0, .22);
$color-shadow-black: rgba(0, 0, 0, .05);
$color-shadow-black-dark: rgba(0, 0, 0, .1);
$color-shadow-black-darkest: rgba(0, 0, 0, .8);
$color-shadow-range-black: rgba(0, 0, 0, 0.25);
$color-shadow-range-black-2: rgba(0, 0, 0, 0.2);
$color-link-water: #D0E8F2;
$color-califonia: #F09A02;
$color-light-yellow: #FDE470;
$color-turquoise: #28D2B1;

// Fonts
$font-regular: 'Walsheim', Helvetica, Arial, sans-serif;
$font-light: 'WalsheimLight', Helvetica, Arial, sans-serif;
$font-bold: 'WalsheimBold', Helvetica, Arial, sans-serif;
$font-awesome: 'Font Awesome 5 Pro';

//== Bootstrap Media queries breakpoints
//  bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Screen sizes for mobile in chrome browser
$screen-mobile-s-min: 320px;
$screen-mobile-m-min: 375px;
$screen-mobile-l-min: 425px;
$screen-mobile-l-min-2: 571px;
$screen-sm-800: 800px;
$screen-lg-1100: 1100px;
$screen-xs-480: 480px;


$blue-divider-border: solid 1px rgba(255,255,255,0.4);
$blue-divider-border-2px: solid 2px rgba(255,255,255,0);
$grey-divider-border: 1px solid rgba(114, 114, 114, 0.5);
$blue-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
$blue-box-shadow-2: 0 3px 8px rgba(0, 0, 0, 0.1);
$peachy-box-shadow: 0 0 3px 2px $color-peachy;
$light-blue-box-shadow: 0 0 3px 2px $color-cornflower-blue;

// Navbar
$navbar-height-lg: 40px;
$navbar-height-md: 50px;
$navbar-height-sm: 60px;


// Author component
$author-profile-height: 70px;
$author-profile-width: 70px;

// Bootstrap Colors
$bootstrap-background-primary: #0b5ed7;
$bootstrap-border-primary: #0a58ca;
$bootstrap-background-danger: #dc3545;
$bootstrap-border-danger: #dc3545;
$bootstrap-background-info: #0dcaf0;
$bootstrap-border-info: #0dcaf0;
$bootstrap-background-success: #198754;
$bootstrap-border-success: #198754;