<div class="dropdown-wrapper">
  <ul class="dropdown-items-wrapper">
    <li *ngFor="let option of options; let i = index"
        (click)="itemClick(option)">
      <ng-container [ngTemplateOutlet]="SelectValue"
                    [ngTemplateOutletContext]="{ option: option }">
      </ng-container>
    </li>
  </ul>
</div>

<ng-template #SelectValue let-option="option">
  <ng-container [ngSwitch]="dropdown.display">
    <span *ngSwitchCase="'value'">
      {{ option.value }}
    </span>
    <span *ngSwitchCase="'both'">
      {{ option.label + ' (' + option.value + ')' }}
    </span>
    <span *ngSwitchDefault>
      {{ option.label }}
    </span>
  </ng-container>
</ng-template>
