<textarea *ngIf="field?.type !== 'dynamic_content'; else wysiwyg"
          [ngClass]="inputs?.classes"
          [name]="inputs?.name"
          [(ngModel)]="field.value"
          (keyup)="onFieldChange(field, $event)"
          (click)="onFieldChange(field, $event)"
          rows="4"
          cmsFormControl
          [field]="field"></textarea>
<ng-template #wysiwyg>
  <angular-editor [placeholder]="'Enter text here...'"
                  [name]="inputs?.name"
                  [config]="wysiwygConfig"
                  [(ngModel)]="field.value"
                  cmsFormControl
                  [field]="field"></angular-editor>
</ng-template>