<form (submit)="onSubmit($event, fields)">
  <cms-fields [fields]="fields"></cms-fields>
  <button class="btn btn-success btn-sm">Submit</button>
  <cms-alert *ngIf="alert.enabled"
             [alert]="alert"></cms-alert>
</form>