<ng-container [ngSwitch]="helper?.type">
  <label [for]="helper?.name">{{ helper?.label }}</label>
  <ng-container *ngSwitchCase="'select'">
    <select type="search"
            [id]="helper.name"
            class="d-inline form-control form-control-sm"
            [(ngModel)]="helper.value"
            (change)="emitHelper(helper)"
            [attr.disabled]="!helper?.options?.length">
      <option [ngValue]="{}"
              *ngIf="helper?.options?.length > 1">-</option>
      <option *ngFor="let option of helper?.options"
              [ngValue]="option">
        {{ option?.label }}
      </option>
    </select>
  </ng-container>
  <ng-container *ngSwitchCase="'checkbox'">
    <input type="checkbox"
          [id]="helper.name"
          [ngClass]="inputHelperClass(helper)"
          [(ngModel)]="helper.value"
          [ngValue]="helper.value"
          (keyup)="emitHelper(helper)"
          (change)="emitHelper(helper)">
  </ng-container>
  <ng-container *ngSwitchDefault>
    <input [attr.type]="helper?.type"
          [id]="helper.name"
          [ngClass]="inputHelperClass(helper)"
          [(ngModel)]="helper.value"
          [ngValue]="helper.value"
          (keyup)="emitHelper(helper)">
  </ng-container>
</ng-container>