@import '../../../scss/variables';
@import '../../../scss/mixins';

@mixin slider {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 100px;
  background: linear-gradient(to right, transparent 0%, $color-white 50%, transparent 100%);
  animation: left-to-right 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

:host {

  .article {
    .title {
      height: 50px;
    }
    
    @include author-layout;
  }

  .article-related {

    .ph-container {
      margin: 0 auto;
    }

    .thumbnail {
      height: 140px;
      width: 150px;
      margin-bottom: 10px;
    }

    .title {
      width: 160px;
      height: 20px;
    }
  }

  .table-placeholder {
    .filter-container {
      display: flex;
      
      .table:last-child {
        margin-left: 10px;
      }
    }

    .ph-container {

      &.table {
        height: 30px;
        width: 70px;

        .filters::before {
          margin-left: 90px;
          @include slider;
        }
      }
    }

    .table-head {
      margin-bottom: 10px;
      .ph-container {
        height: 40px;
      }
    }
  }

  .ph-container {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background: $color-concrete;

    &:last-child {
      margin-bottom: 0;
    }

    .box::before {
      @include slider;
    }
  }

  @keyframes left-to-right {
    from {
      left: -150px;
    } to {
      left: 90%;
    }
  }
}