<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'table'">
    <div class="table-placeholder">
      <div class="filter-container">
        <div class="ph-container table"
             *ngFor="let filter of filters">
          <div class="filters"></div>
        </div>
      </div>
      <div class="table-head">
        <div class="ph-container headers">
          <div class="box"></div>
        </div>
      </div>
      <div class="table-body">
        <div class="ph-container">
          <div class="box"></div>
        </div>
      </div>
    </div>
    <!-- <div class="ph-container table">
      <div class="box table-body"></div>
    </div> -->
  </ng-container>
  <ng-container *ngSwitchCase="'article'">
    <div class="article">
      <div class="ph-container title">
        <div class="box"></div>
      </div>
      <div class="author">
        <div class="author-details">
          <div class="ph-container author-profile">
            <div class="box"></div>
          </div>
          <div class="author-info">
            <div class="ph-container author-name">
              <div class="box"></div>
            </div>
            <div class="ph-container author-title">
              <div class="box"></div>
            </div>
          </div>
        </div>
        <div class="ph-container date">
          <div class="box"></div>
        </div>
      </div>
      <div class="ph-container content">
        <div class="box"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'article-related'">
    <div class="article-related">
      <div class="ph-container thumbnail">
        <div class="box"></div>
      </div>
      <div class="ph-container title">
        <div class="box"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-container *ngFor="let b of box">
      <div class="ph-container">
        <div class="box"></div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>