<ng-container *ngIf="routeState && !loader.loading">
  <div class="acf-wrapper"
        [class]="routeState.type"
        *ngIf="acfs?.length">
    <form (submit)="onSubmit($event)">
      <ng-container *ngFor="let form of acfs">
        <label [for]="form.config.form_name"
                (click)="activeACF = form.config.form_name">{{ form.config.form_name }}</label>
        <cms-acf [id]="form.config.form_name"
                 [class.active]="activeACF === form.config.form_name"
                 (click)="activeACF = form.config.form_name"
                 [acf]="form.fields"
                 [toolbar]="false">
        </cms-acf>
      </ng-container>
      <div class="button-wrapper">
        <cms-button type="submit"
                    color="success">{{ action }}</cms-button>
      </div>
    </form>
  </div>
  <div class="no-results"
       *ngIf="!acfs?.length && routeState.type !== 'all'">
    No ACF found for "{{ routeState?.category | uppercase }}"
  </div>
</ng-container>

<div class="loader"
     *ngIf="loader.loading">
  <cms-placeholder-loader></cms-placeholder-loader>
</div>
<div class="message-wrapper"
     *ngIf="alert">
  <cms-alert [alert]="alert"></cms-alert>
</div>