<div class="pagination-wrapper"
     [ngClass]="{
       'align-right': pagination?.position?.align === 'right'
     }">
  <nav>
    <ul class="pagination">
      <li class="page-item"
          [class.disabled]="active === 0 || pagination.pages === 0">
        <span class="page-link"
              (click)="setActivePage(active - 1)">
          Previous
        </span>
      </li>
      <ng-container *ngFor="let item of [].constructor(pagination.pages); let page = index">
        <li class="page-item"
            [class.active]="active === page"
            *ngIf="page <= 10">
          <span class="page-link"
                (click)="setActivePage(page)">{{ page + 1 }}</span>
        </li>
      </ng-container>
      <li class="page-item"
          [class.disabled]="active === (pagination.pages - 1) || pagination.pages === 0">
        <span class="page-link"
              (click)="setActivePage(active + 1)">Next</span>
      </li>
    </ul>
  </nav>
</div>