@import '../../../../scss/variables';

:host {
  width: 100%;

  .field-groups-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.minimize {
      height: 170px;
      overflow-y: scroll;

      &.long-group {
        height: 230px;
      }
    }

    &.category {
      height: 110px;
    }

    ::ng-deep {
      cms-acf-toolbar {
        text-align: right;
        .acf-toolbar {
          height: 10px;
        }
      }
    }
  }

  .action-wrapper {
    padding: 10px;
    text-align: right;

    span {
      margin-right: 10px;
      cursor: pointer;
      text-decoration: underline;
      color: $color-blue-chill;
    }
  }

  .field-groups-container {
    // min-width: 200px;
    max-width: 225px;
    width: 100%;
    // height: 160px;
    border: 1px solid $color-black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;

    ::ng-deep {
      cms-field {
        input,
        select {
          border: 1px solid $color-alto;
        }
      }
    }

    &:first-child {
      // margin-left: 0;
    }
  }
}