
<div class="field-groups-wrapper {{ field.name }}"
     [ngClass]="state"
     [class.long-group]="field?.field_groups && field?.field_groups[0]?.length > 2">
  <ng-container *ngFor="let fieldGroups of field.field_groups; let fieldIndex = index">
      <div class="field-groups-container">
        <cms-acf-toolbar [type]="'field-groups'"
                         [config]="{ remove: field.field_groups.length !== 1}"
                         (action)="onAction($event, fieldIndex)">
        </cms-acf-toolbar>
        <ng-container *ngFor="let fieldGroup of fieldGroups">
          <cms-field-label [field]="fieldGroup"
                           [id]="fieldGroup.name"></cms-field-label>
          <cms-field [field]="fieldGroup"
                     (output)="onFieldChange(field)"></cms-field>
        </ng-container>
      </div>
  </ng-container>
</div>
<div class="action-wrapper">
  <span *ngIf="state === 'minimize'"
        (click)="state = 'expand'">Expand</span>
  <span *ngIf="state === 'expand'"
        (click)="state = 'minimize'">Minimize</span>
  <cms-button color="info"
              size="sm"
              type="button"
              (click)="onAction('add')">Add</cms-button>
</div>