@import '../../scss/variables';

:host {

  .action-wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    align-content: center;
  }

  .form-container {
    padding: 10px;

    .forgot {
      font-size: 15px;
      padding-top: 0;

      @media (min-width: 230px) {
        padding-top: 1rem;
      }

      @media (min-width: $screen-sm) {
        padding-top: 0;
      }

      @media (min-width: 919px) {
        padding-top: 1rem;
      }

      @media (min-width: $screen-md) {
        padding-top: 1rem;
      }
    }
  }

  &::ng-deep cms-alert {
    .alert {
      margin-top: 10px;
    }
  }
}