<div class="form-container">
  <cms-fields [fields]="inputs"></cms-fields>
  <div class="action-wrapper">
    <div class="btn-wrapper">
      <button type="submit"
              class="btn btn-success btn-sm"
              (click)="onAction('submit')">Login
      </button>
    </div>
    <a (click)="onAction('forgot-password')">Forgot Password</a>
  </div>
</div>
