<ng-container *ngIf="routeState">
  <div class="acf-wrapper"
        *ngIf="routeState?.type !== 'all'">
    <form (submit)="onSubmit($event)">
      <div class="back-button-wrapper"
           *ngIf="routeState?.type === 'edit'">
        <cms-back></cms-back>
      </div>
      <cms-acf *ngIf="acfConfig.length"
               [acf]="acfConfig"
               type="config"
               (action)="onFieldAction($event)">
      </cms-acf>
      <cms-acf *ngIf="acf.length"
               [acf]="acf"
               type="fields"
               (action)="onFieldAction($event)">
      </cms-acf>
      <div class="button-wrapper">
        <cms-button type="submit"
                    color="success"
                    (click)="onSubmit($event)">Submit</cms-button>
        <cms-button (click)="add()">Add</cms-button>
      </div>
    </form>
  </div>
  <div class="table-wrapper"
        *ngIf="routeState?.type === 'all'">
    <cms-table [tableData]="tableData"
                  [tableConfig]="tableConfig"
                  (action)="onTableAction($event)"></cms-table>
  </div>
</ng-container>
<div class="alert-wrapper"
     *ngIf="alert">
  <cms-alert [alert]="alert"
             (close)="onAlertAction($event)"></cms-alert>
</div>
<cms-modal *ngIf="isModal"
           [title]="modal.title"
           [config]="modal"
           (close)="toggleModal($event)"
           (action)="onModalAction($event)">
  <div class="exports">
    <div class="message">
      The following record{{ exports.length > 1 ? 's' : ''}} will be exported:
    </div>
    <cms-acf [acf]="exportACF"
             [toolbar]="false">
    </cms-acf>
    <ngx-json-viewer [json]="exports"
                     [expanded]="false">
    </ngx-json-viewer>
  </div>
</cms-modal>