@import '../../scss/variables';

:host {
  .back-button-wrapper {
    height: 50px;
  }

  .alert-wrapper {
    margin-top: 10px;
  }

  ::ng-deep {
    cms-modal {
      ngx-json-viewer {
        font-size: 12px;

        .ngx-json-viewer {

          .segment {
            padding: 0;
            padding-left: 2px;
          }
        }
      }
    }
    cms-acf {

      .acf-wrapper {
        padding: 0 !important;
        
        &:first-child {
          margin-bottom: 20px;
        }

      }

      cms-fields {
        .field-wrapper {
          display: flex;
          align-items: center;
          border-top: 1px solid $color-alto;
          margin-top: 0 !important;
          padding: 10px;

          &.form_group {
            align-items: flex-start;

            .label-wrapper {
              border: 0;
            }

            ::ng-deep {
              .field-groups {
                align-items: flex-start;
                ::ng-deep {
                  cms-field-groups {
                    .field-groups-wrapper {
                      width: 100%;
                      height: auto;
                      overflow: unset;
                    }
                    .field-groups-container {
                      background-color: $color-white;
                      max-width: 100%;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }

          &:first-child {
            border-top: 0;
          }

          .label-wrapper {
            height: 100%;
            border-right: 1px solid $color-alto;
            margin-right: 10px;
          }
          
          label {
            width: 150px;
            padding: 0 5px;
          }

          cms-field {
            width: 100%;

            input,
            select {

              &:not(.is-invalid) {
                border: 1px solid $color-mine-shaft;
              }

              &.disabled {
                border: 1px solid $color-alto;
              }
            }
          }
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}