<ng-container [ngSwitch]="inputs?.field?.type">
  <ng-container *ngSwitchCase="'number'">
    <cms-input-number [field]="inputs?.field"
                      [inputs]="inputs"
                      (emitField)="emitInput($event)"></cms-input-number>
  </ng-container>
  <ng-container *ngSwitchCase="'checkbox'">
    <cms-checkbox [field]="inputs?.field"
                  [inputs]="inputs"
                  (emitField)="emitInput($event)"></cms-checkbox>
  </ng-container>
  <ng-container *ngSwitchCase="'textarea'">
    <cms-text-area [field]="inputs?.field"
                   [inputs]="inputs"
                   (emitField)="emitInput($event)"></cms-text-area>
  </ng-container>
  <ng-container *ngSwitchCase="'radio'">
    <cms-radio [field]="inputs?.field"
               [inputs]="inputs"
               (emitField)="emitInput($event)"></cms-radio>
  </ng-container>
  <ng-container *ngSwitchCase="'select'">
    <cms-dropdown [field]="inputs?.field"
                  [inputs]="inputs"
                  (emitField)="emitInput($event)"></cms-dropdown>
  </ng-container>
  <ng-container *ngSwitchCase="'dynamic_content'">
    <cms-text-area [field]="inputs?.field"
                   [inputs]="inputs"
                   (emitField)="emitInput($event)"></cms-text-area>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <cms-input-text [field]="inputs?.field"
                    [inputs]="inputs"
                    (emitField)="emitInput($event)">
    </cms-input-text>
  </ng-container>
</ng-container>