<div class="sidebar-wrapper">
  <ul class="list-unstyled">
    <ng-container *ngFor="let nav of navs">
      <li *ngIf="!nav.is_hidden"
          (click)="triggerChild(nav, false, $event)"
          [class]="activeChild === nav?.url ? 'is-active': null">
        <ng-container *ngIf="nav?.children; else showNoChild">
          <cms-nav-tile [nav]="nav"
                        [isMinimize]="isMinimize"
                        [activeChild]="activeChild"
                        [lastActive]="lastActive"
                        (linkClicked)="routeChanged($event)"
                        (childNavClick)="childNavClick($event, true)">
          </cms-nav-tile>
        </ng-container>
        <ng-template #showNoChild>
          <a [routerLink]="nav?.children ? null : nav?.url">
            <cms-nav-tile [nav]="nav"></cms-nav-tile>
          </a>
        </ng-template>
        <ng-container >
          <div class="child-nav-container"
               *ngIf="nav?.children && activeChild === nav?.url">
            <div *ngFor="let child of nav?.children">
              <cms-nav-tile [nav]="child"
                            [navType]="'child'"
                            (linkClicked)="routeChanged($event, false)">
              </cms-nav-tile>
            </div>
          </div>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</div>