@import '../../../scss/variables';

:host {
  .sidebar-wrapper {
    background-color: $color-faded-black;
    height: 100%;
    color: $color-white;

    ul {
      li {
        position: relative;
        border-bottom: 1px solid $color-white;
        padding: 10px 0;
        cursor: pointer;
        user-select: none;

        @media (min-width: $screen-sm) {
          padding: 7px 0;
        }

        &:hover {
          background-color: $color-shark;
        }

        &:last-child {
          border-bottom: 0;
        }

        &.is-active {
          background-color: $color-shark;

          .child-nav-container {
            font-size: 12px;

            div {
              padding: 5px;

              &:hover {
                background-color: $color-faded-black;
              }
            }
          }
        }

        span.icon {
          display: inline-block;
          width: 50px;
          text-align: center;
        }

        .nav-label {
          width: 100%;
        }

        .has-children {
          position: absolute;
          right: 10px;
        }

        .child-nav-container {
          margin-top: 5px;
        }

        i.caret-dropdown-active {
          width: 18px;
          height: 18px;
          text-align: center;

          &:hover {
            background-color: #fff;
            border-radius: 50%;
            color: $color-faded-black;
          }
        }
      }
    }
  }
}