<!-- <select class="form-control"
        (change)="emit(field)"
        [(ngModel)]="field.value"
        [disabled]="field.disabled"
        [id]="inputs.field_name">
  <option *ngFor="let option of field.options"
          [ngValue]="option.value">{{option.label}}</option>
</select> -->

<div class="dropdown-wrapper">
  <button class="button  form-control"
          [class.disabled]="field.options?.length === 0"
          [class.is-invalid]="field.valid === false"
          type="button"
          #button
          [disabled]="field.options?.length === 0"
          (click)="toggleDropdown()"
          cmsField
          [field]="field">
    {{ getLabel() || '-' }}
  </button>
  <ul class="dropdown-items-wrapper"
      [style.width]="dropdownWidth"
      [hidden]="!isOpen"
      #dropdownMenu>
    <li *ngIf="!field.required"
        (click)="itemClick({ value: null })">-</li>
    <li *ngFor="let option of field.options; let i = index"
        (click)="itemClick(option)">
      <ng-container [ngTemplateOutlet]="SelectValue"
                    [ngTemplateOutletContext]="{ option: option }"></ng-container>
    </li>
  </ul>
</div>

<ng-template #SelectValue let-option="option">
  <ng-container [ngSwitch]="dropdown.display">
    <span *ngSwitchCase="'value'">
      {{ option.value }}
    </span>
    <span *ngSwitchCase="'both'">
      {{ option.label + ' (' + option.value + ')' }}
    </span>
    <span *ngSwitchDefault>
      {{ option.label }}
    </span>
  </ng-container>
</ng-template>
