@import '../../../../scss/variables';

.dropdown-wrapper {

  .button {
    height: 40px;
    min-width: 150px;
    display: block;
    background-color: $color-white;
    border: 1px solid $color-alto;
    border-radius: 3px;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;

    &.disabled {
      border: 1px solid $color-alto;
    }
  }

  ul.dropdown-items-wrapper {
    position: absolute;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid $color-alto;
    border-radius: 2px;
    background-color: $color-white;
    z-index: 999;

    li {
      cursor: pointer;
      padding: 3px 20px;
      border-bottom: 1px solid $color-alto;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background-color: rgba(0,0,0,0.07)
      }
    }
  }
}