<div [class]="field.type">
  <ng-container *ngIf="!field.disabled &&
                       ((field?.editable !== false && inputs?.routeState?.type === 'edit') ||
                         inputs?.routeState?.type !== 'edit' && inputs?.routeState?.type !== 'all' ||
                         field?.type === 'dynamic_content');
                       else disabledField">
    <ng-container [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="'text'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'email'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'search'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'url'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'datetime-local'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'password'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)">
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'hidden'">
        <cms-input-text [field]="field"
                        [inputs]="inputs"
                        (output)="onFieldChange($event)"
                        hidden>
        </cms-input-text>
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        <cms-input-number [field]="field"
                          [inputs]="inputs"
                          (output)="onFieldChange($event)">
        </cms-input-number>
      </ng-container>
      <ng-container *ngSwitchCase="'dynamic_content'">
        <cms-wysiwyg [field]="field"
                     [inputs]="inputs"
                     (output)="onFieldChange($event)">
        </cms-wysiwyg>
      </ng-container>
      <ng-container *ngSwitchCase="'textarea'">
        <cms-textarea [field]="field"
                      [inputs]="inputs"
                      (output)="onFieldChange($event)">
        </cms-textarea>
      </ng-container>
      <ng-container *ngSwitchCase="'select'">
        <cms-select [field]="field"
                    [inputs]="inputs"
                    (output)="onFieldChange($event)">
        </cms-select>
      </ng-container>
      <ng-container *ngSwitchCase="'checkbox'">
        <cms-input-checkbox [field]="field"
                            [inputs]="inputs"
                            (output)="onFieldChange($event)">
        </cms-input-checkbox>
      </ng-container>
      <ng-container *ngSwitchCase="'radio'">
        <cms-radio-groups [field]="field"
                          [inputs]="inputs"
                          (output)="onFieldChange($event)">
        </cms-radio-groups>
      </ng-container>
      <ng-container *ngSwitchCase="'button'">
        <cms-button (click)="onFieldChange(field)">Add</cms-button>
      </ng-container>
    </ng-container>
    <cms-field-helpers [field]="field"
                       (action)="onFieldAction($event)"></cms-field-helpers>
  </ng-container>
  <!-- Ensures to not emit if tried to hack console -->
  <ng-template #disabledField>
    <cms-input-disabled [field]="field"></cms-input-disabled>
  </ng-template>
</div>