@import '../../../../scss/variables';

:host {
  .button {

    ::ng-deep {
      button {
        color: $color-white;
      }
    }

    &.position-right {
      text-align: right;
    }
  }

  .select {
    ::ng-deep {
      cms-select {
        .dropdown-wrapper {
          .button {
            width: 100%;
            border: 1px solid $color-mine-shaft;

            &.disabled {
              border: 1px solid $color-alto;
            }
          }
        }
      }
    }
  }
}