<div *ngFor="let fields of acf; let fieldsIndex = index"
     class="acf-wrapper">
  <div class="acf-toolbar"
       *ngIf="toolbar === true">
    <span class="title">
      <strong>{{ fields[0].value || '{{ ' + fields[0].label + ' }}' }}</strong>
    </span>
    <div class="toolbars"
         [class.toolbars-middle]="fieldsIndex !== 0 || fieldsIndex !== (acf.length - 1)">
      <i class="fas fa-caret-down"
         (click)="toolbarAction('down', fieldsIndex)"
         *ngIf="fieldsIndex !== (acf.length - 1)"></i>
      <i class="fas fa-caret-up"
         (click)="toolbarAction('up', fieldsIndex)"
         *ngIf="fieldsIndex !== 0"></i>
      <i class="fas fa-minus"
         (click)="toolbarAction('minimize', fieldsIndex)"
         *ngIf="!hiddenFields.includes(fieldsIndex)"></i>
      <i class="fas fa-window-maximize"
         (click)="toolbarAction('restore', fieldsIndex)"
         *ngIf="hiddenFields.includes(fieldsIndex)"></i>
      <i class="fas fa-times"
        (click)="toolbarAction('remove', fieldsIndex)"></i>
    </div>
  </div>
  <cms-fields [fields]="fields"
              [fieldsIndex]="fieldsIndex"
              (output)="onFieldChange($event, fields)"
              (action)="onFieldAction($event)"
              [inputs]="inputs"
              [hidden]="hiddenFields.includes(fieldsIndex)">
  </cms-fields>
</div>