@import '../../scss/variables';

// :host {
.acf-wrapper {
  padding: 10px;
  border: 1px solid $color-alto;
  margin-bottom: 20px;
  // display: flex;

  ::ng-deep {

    cms-fields {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .acf-toolbar {
    height: 35px;
    border-bottom: 1px solid $color-alto;
    background-color: $color-alto;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .toolbars {
      // display: flex;
      width: 120px;
      text-align: right;
      padding-top: 2px;

      i {
        width: 30px;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}

label {
  user-select: none;
}
// }