<div class="form-wrapper"
     *ngIf="!isLoggedin">
  <cms-login (action)="onLoginAction($event)"></cms-login>
  <cms-alert *ngIf="alert"
             [alert]="alert"
             [version]="'v1'">
  </cms-alert>
</div>