@import '../../scss/variables';

:host {

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 15% auto;
    max-width: 320px;
    border: 1px solid $color-alto;
    border-radius: 4px;
    padding: 10px;
  }
}