<div class="modal-slide-wrapper" id="modalSlide">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="close"
              (click)="emitClose()">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <div class="col-12 filter-fields">
        <cms-acf [acf]="[data]"
                 [toolbar]="false"
                 (action)="emitData($event)">
        </cms-acf>
      </div>
      <div class="col-12 data-update">
        <button *ngIf="config?.emitOn === 'click'"
                class="btn btn-success btn-sm"
                [disabled]="disableButton()"
                (click)="emitClick()">Update</button>
      </div>
    </div>
  </div>
</div>