@import '../../../../scss/variables';

:host {

  .modal-slide-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    margin-top: $navbar-height-sm;
    background-color: $color-white;
    border-left: 1px solid $color-alto;
    z-index: 5;

    @media (min-width: $screen-sm) {
      margin-top: $navbar-height-md;
    }

    @media (min-width: $screen-md) {
      margin-top: $navbar-height-lg;
    }
  }

  .filter-fields {
    ::ng-deep {
      cms-acf {
        .acf-wrapper {
          border: 0;
        }
        .field-wrapper {
          display: block;
          border: 0;

          &.checkbox {
            display: flex;
          }
        }

        .label-wrapper {
          border: 0;
          width: 100px;
        }
      }
    }
  }

  .helpers {
    .form-inline {
      margin-top: 7px;
    }
    ::ng-deep {
      cms-form-field {
        .form-field {
          padding: 4px 8px
        }
      }
    }
  }

  .close {
    float: right;
    margin-top: 5px;
    cursor: pointer;
  }

  .data-update {
    margin-top: 7px;
  }
}