/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './app/scss/variables';

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:visited,
  &:active {
    color: unset;
  }
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.cursor-pointer {
  cursor: pointer;
}

span.close {
  cursor: pointer;
}

.popover-container-global {
  /* Tooltip container */
  &.popover-tooltip {
    position: relative;
    display: inline-block;

    &:hover {
      .tooltiptext {
        visibility: visible;
      }
    }

    /* Tooltip text */
    .tooltiptext {
      // visibility: hidden;
      min-width: 120px;
      max-width: 120px;
      background-color: $color-white;
      color: $color-black;
      text-align: center;
      padding: 2px 0;
      border-radius: 6px;
      border: 1px solid $color-alto;
      font-size: 12px;
      z-index: 9999;
    
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;

      &.top-arrow::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $color-alto transparent;
      }

      &.right-arrow:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%; /* To the right of the tooltip */
        margin-top: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent transparent $color-alto;
      }

      &.bottom-arrow::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $color-alto transparent transparent transparent;
      }

      &.left-arrow::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $color-alto transparent transparent;
      }

      &.right {
        // top: 50%;
        top: 0;
        left: 100%;
      }

      &.left {
        // top: 50%;
        top: 0;
        right: 100%;
      }

      &.top {
        width: 120px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
      }

      &.bottom {
        width: 120px;
        top: 100%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
      }
    }
  }
}