<ng-container *ngIf="navType === 'parent'">
  <span class="icon" [innerHtml]="nav?.icon"></span>
    <span class="nav-label">
      {{ nav?.label }}
    </span>
    <span *ngIf="nav?.children"
          class="has-children">
      <!-- closed child icon caret -->
      <i class="fas fa-caret-right"
          *ngIf="activeChild !== nav?.url && !isMinimize"></i>
      <!-- opened child icon caret -->
      <i class="fas fa-caret-down caret-dropdown-active"
          *ngIf="activeChild === nav?.url && !isMinimize"
          (click)="emitCaretClick(nav, true, $event)"></i>
  </span>
</ng-container>
<ng-container *ngIf="navType === 'child'">
  <a *ngIf="lastActive !== nav?.url; else tileContent"
     [routerLink]="nav.url"
     [queryParams]="nav?.params"
     (click)="routeChanged(nav.url)">
     <ng-container *ngTemplateOutlet="tileContent"></ng-container>
  </a>
</ng-container>

<ng-template #tileContent>
  <span class="icon" [innerHtml]="nav?.icon"></span>
  <span class="nav-label">
    {{ nav?.label }}
  </span>
</ng-template>