@import '../../../scss/variables';

:host {
  font-size: 16px;

  span.icon {
    display: inline-block;
    width: 50px;
    text-align: center;
  }

  .nav-label {
    width: 100%;
  }

  .has-children {
    position: absolute;
    right: 10px;
  }

  .child-nav-container {
    margin-top: 5px;
  }

  i.caret-dropdown-active {
    width: 18px;
    height: 18px;
    text-align: center;

    &:hover {
      background-color: #fff;
      border-radius: 50%;
      color: $color-faded-black;
    }
  }
}