<div class="valid-container"
    *ngIf="field.unique_value">
 <span>
   <span class="check-availability"
         (click)="onFieldAction(field, 'check-availability')"
         *ngIf="field.value">Check Availability</span>
   &nbsp;
   <span class="generate"
         *ngIf="field.default_value === 'auto' && field.valid === false"
         (click)="onFieldAction(field, 'generate')">Generate</span>
 </span>
 <span class="validity invalid"
       *ngIf="field.valid === false">
   {{ field.label }}: {{ field.value }} is not available.
 </span>
 <span class="validity valid"
       *ngIf="field.value && field.valid === true">
   {{ field.label }}: {{ field.value }} is available.
 </span>
 <span class="validity"
       *ngIf="field.valid === null">
   Checking {{ field.label }}: {{ field.value }}...
 </span>
</div>