@import '../../../../scss/variables';

.valid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  user-select: none;

  .check-availability {
    color: $color-royal-blue;
    cursor: pointer;
    text-decoration: underline;
  }

  .generate {
    cursor: pointer;
    text-decoration: underline;
  }

  .validity {
    &.invalid {
      color: $color-monza;
    }

    &.valid {
      color: $color-limeade-2;
    }
  }
}