@import '../../scss/variables';

:host {
  .selected-actions {
    height: 45px;
    ::ng-deep {
      button {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .table-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .helper-buttons {
      
      button {
        margin-left: 10px;

        &:first-child {
          margin: 0;
        }
      }
    }

    .filter-quick-search {
      ::ng-deep {
        cms-form-field {
          .form-field {
            display: flex;
            justify-content: center;
            align-items: baseline;

            label {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  .table-wrapper {

    &.fixed-height {
      // height: 542px;
      margin-bottom: 1rem;
    }
  }

  .table {

    .actions-header {
      text-align: center;
      width: 200px;
    }

    .actions {
      width: 200px;

      button.btn {
        margin-left: 10px;
        color: $color-white;

        &:first-child {
          margin: 0;
        }
      }
    }

    thead {
      tr {
        th {
          user-select: none;

          i {
            cursor: pointer;
          }
          // max-width: 100px;

          &.checkbox {
            width: 20px;
          }

          .table-tooltip {
            font-weight: normal;
          }

          span.checkbox {
            margin-right: 5px;
          }
        }
      }
    }

    tbody {
      position: relative;
      tr {

        &:hover {

          td {
            .extra-actions {
              visibility: visible;
            }
          }
        }

        td {
          width: 150px;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .extra-actions {
            font-size: 12px;
            visibility: hidden;
            margin-top: 5px;

            span {
              cursor: pointer;
              user-select: none;
              padding: 0 5px;

              &:first-child {
                padding-left: 0;
              }
  
              &:hover {
                text-decoration: underline;
              }

              &.export {
                color: $bootstrap-background-primary;
              }

              &.edit {
                color: $bootstrap-background-success;
              }

              &.delete {
                color: $bootstrap-background-danger;
              }
            }
          }

          // &.actions {
          //   text-align: center;
          // }

          &.checkbox {
            width: 20px;
          }

          .safe-html {

            ::ng-deep {

              a {
                color: #17a2b8;
  
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        &.no-record {
          td {
            background-color: $color-white;
            background-image: none;
            border: none;
          }
        }
      }
    }
  }

  ::ng-deep {
    cms-pagination {
      .pagination-wrapper {
        display: flex;
    
        &.align-right {
          justify-content: flex-end;
        }
    
        .pagination {
          user-select: none;
    
          li:not(.disabled) {
            cursor: pointer;
          }
        }
    
        .active {
          background-color: $color-alto;
        }
      }
    }
  }
}