<div class="table-filters">
  <div class="filter-button">
    <div class="helper-buttons">
      <button class="btn btn-sm filter"
              (click)="toggleFilter($event)"
              [ngClass]="!pagination.records[active]?.length ? 'btn-secondary' : 'btn-primary'"
              [disabled]="!pagination.records[active]?.length">
        <i class="fas fa-filter"></i>Filter
      </button>
    </div>
  </div>
  <div class="filter-quick-search"
       *ngIf="tableConfig?.enable_quick_search">
       Quick search
    <cms-fields [fields]="tableHelperQuickSearch"
                (output)="onFilter(tableHelperQuickSearch)">
    </cms-fields>
  </div>
</div>
<div class="table-wrapper"
     [class.fixed-height]="pagination.position.fixed"
     #table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="checkbox">
          <input type="checkbox"
                (click)="onSelect($event, pagination.records[active])"
                #checkAll>
        </th>
        <th *ngFor="let tableHead of tableConfig?.headers; let idx = index"
            [class]="tableHead?.value">
          <i *ngIf="tableConfig?.sortable && tableData.length > 1"
              class="fas fa-caret-down"
              [class]="sort.active === tableHead.value
                ? (sort.order === 'ascending' ? 'fa-caret-up' : 'fa-caret-down')
                : 'fa-caret-down'"
              (click)="onAction(
                tableHead.value,
                { action: 'sort', order: sort.active === tableHead.value ? sort.order : 'descending' }
              )">
            </i>
          {{ tableHead?.label }}
          <cms-tooltip class="table-tooltip"
                       *ngIf="tableHead?.tooltip"
                       [tooltip]="tableHead?.tooltip">
          </cms-tooltip>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="pagination.records[active]?.length">
      <ng-container *ngFor="let record of pagination.records[active]">
        <tr>
          <td class="checkbox">
            <input type="checkbox"
                   (click)="onSelect($event, record)"
                   [(ngModel)]="record.selected"
                   [checked]="record.selected">
          </td>
          <td *ngFor="let tableHead of tableConfig?.headers; let rowIndex = index"
              [class]="tableHead?.value">
            <div class="safe-html"
                 [innerHTML]="record[tableHead?.value] | safe: 'html'">
            </div>
            <div *ngIf="rowIndex === 0"
                 class="extra-actions">
              <ng-container *ngFor="let button of TABLE_ACTIONS; let idx = index">
                <ng-container *ngIf="tableConfig.actions[button.action] === undefined ||
                                     tableConfig.actions[button.action] === true">
                  <span [ngClass]="button.action"
                        (click)="onAction(record, button.action)">
                    {{ button.label }}
                  </span>
                  <ng-container *ngIf="idx !== (TABLE_ACTIONS.length - 1)">|</ng-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="!pagination.records[active]?.length">
      <tr class="no-record">
        <td colspan="10">No record found.</td>
      </tr>
    </tbody>
  </table>
</div>
<cms-pagination [pagination]="pagination"
                [active]="active"
                (action)="onPaginationAction($event)">
</cms-pagination>
<div class="selected-actions">
  <ng-content select="[dataActions]"></ng-content>
</div>
<!-- MODAL SLIDE FOR FILTERING? -->
<cms-modal-slide *ngIf="isFilter"
                 [data]="tableHelpers"
                 (close)="isFilter = false"
                 table="v2"
                 (dataEmitter)="onFilter()">
</cms-modal-slide>
